.entel-checkout-campaign-container {
    font-family: 'Barlow', sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
    z-index: 999;
    padding: 0 40px;
    background: linear-gradient(180deg, #004FB9 0%, #00B9EB 248.89%);
    transition: all 400ms ease 0s;
    
    @media (min-width: 768px) {
        width: 415px;
        right: 95px;
    }
    
    .entel-checkout-campaign {
        margin-top: 25px;

        &__open-close {
            position: absolute;
            top: -34px;
            right: 8px;        
            background: #FF560A;
            border-radius: 8px 8px 0 0;
            padding: 4px 30px 4px 16px;
            height: 34px;
            line-height: 28px;
            cursor: pointer;        
    
            .text {
                color: #ffffff;
                text-transform: uppercase;
                text-decoration: underline;
                font-size: 12px;
                font-weight: 500;
            }
            
            &.active {
                .arrow::after {
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
    
            .arrow {
                position: absolute;
                top: 13px;
                right: 12px;
                width: 5px;
                height: 11px;
                background: none;
                transition: all 400ms ease 0s;
    
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: -2px;
                    width: 6px;
                    height: 6px;
                    border-left: none;
                    border-top: none;
                    border-right: 2px solid #FFFFFF;
                    border-bottom: 2px solid #FFFFFF;
                    -ms-transform: rotate(225deg);
                    transform: rotate(225deg);
                    transition: all 400ms ease 0s;
                }
            }
        }
    
        &__title {
            margin-bottom: 20px;
    
            h3 {
                color: #ffffff;
                font-size: 18px;
                line-height: 22px;
                margin: 0;
    
                span {                
                    font-weight: 700;
                }
            }
    
            .desc {
                color: #00B9EB;
                font-size: 33px;
                margin: 0 5px;
                display: inline-block;
                font-weight: 700;
    
                > span {
                    display: inline-block;
                    line-height: 15px;
                }
    
                .symbol {
                    font-size: 18px;
                    font-weight: 700;
                }
    
                .type-desc {
                    font-size: 10px;
                    font-weight: 700;
                }
            }
        }
    
        &__content {
            color: #ffffff;
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 10px;
        }
    
        &__steps {
            margin: 0;
            padding: 0;
            color: #ffffff;
            counter-reset: section;
    
            li {
                list-style: none;
                font-weight: 500;
                position: relative;
                padding-left: 25px;
                margin-bottom: 10px;            
                line-height: 18px;
    
                &:before {
                    counter-increment: section;
                    content: counter(section);
                    text-align: center;
                    font-size: 12px;
                    background-color: #00B9EB;
                    width: 18px;
                    height: 18px;
                    border-radius: 9px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }
    
        &__minimessage {
            color: #2FCBF1;
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
    
            span {
                color: #ffffff;
            }
        }
    
        &__main-img {
            position: absolute;
            bottom: 0;
            right: 0;
        }    
    }
}