.container {
    overflow: initial;
}

.delivery-type-container {
    margin-bottom: 15px;

    > .text {
        color: #0154A0;
        font-size: 16px;
        margin-bottom: 8px;
    }

    #delivery-domicile {
        margin-right: 5%;
    }

    .delivery-button {
        background-color: #ffffff;
        color: #0154A0;
        border-radius: 5px;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        display: inline-block;
        padding: 12px;
        cursor: pointer;
        position: relative;

        span.text {
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            line-height: 16px;
        }

        .big-radio {
            display: inline-block;
            vertical-align: middle;            
            margin-right: 20px;            
            border-radius: 50%;
            border: 6px solid #9E9FA1;
            width: 20px;
            height: 20px;
        }

        &.active {
            border: 1px solid #FF6702;

            // radio button
            .big-radio {
                border: 6px solid #FF6702;
            }

            // orange angle
            &::before {
                content: '';
                width: 8px;
                height: 8px;
                background-color: #ffffff;
                border-left: 1px solid #FF6702;
                border-bottom: 1px solid #FF6702;
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                bottom: -5px;
                transform: rotate(-45deg);
            }
        }

        img { 
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}

.delivery-type-selector {
    > .text {
        color: #0154A0;
        font-size: 16px;
        margin-bottom: 8px;
    }

    .delivery-label {
        font-weight: 700;
        font-size: 14px;
        color: #0154A0;
        background-color: transparent;
        margin-bottom: 8px;
    }

    .selector {
        width: 173px;
        height: 35px;
        line-height: 35px;
        background: #FFFFFF;
        color: #0154A0;
        font-size: 14px;
        overflow: hidden;
        position: relative;
        z-index: 2;
        margin-bottom: 25px;

        &.active {
            overflow: initial;
            height: auto;
            z-index: 4;

            ul {
                opacity: 1;
                z-index: 2;
                -ms-transform: translateY(4px);
                transform: translateY(4px);
            }
        }

        > div {
            border: 1px solid #E5E5E5;
            padding: 10px 21px;
            font-size: 13px;
            line-height: 1;
        }

        ul {
            width: 100%;
            max-height: 230px;
            display: block;
            overflow-y: auto;
            background-color: #fff;
            margin: 0;
            padding: 5px 20px;
            border: 1px solid #b2cbe2;
            border-radius: 5px;
            position: absolute;
            top: 45px;
            -ms-transform: translateY(-10px);
            transform: translateY(-10px);
            opacity: 0;
            z-index: 0;
            transition: transform .2s ease,opacity .15s ease,z-index .15s ease;

            li:last-child {
                border-bottom: none;
            }

            li {
                font-size: 13px;
                color: #0154a0;
                padding: 7px 0;
                border-bottom: 1px solid #d9e6f1;
                cursor: pointer;
                transition: color .25s ease;

                &.active {
                    font-weight: 700;
                }

                &:hover {
                    color: #6798c6;
                }
            }
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            background-color: transparent;
            margin-top: -8px;
            right: 10px;
            top: 60%;
            border: solid #0154a0;
            border-width: 0 2px 2px 0;
            padding: 3px;
            transition: transform .3s ease;
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    }
}

.delivery-type-option {
    ul {

        li:last-child {
            border-bottom: none;
        }

        li {
            background-image: url('https://entelperu.vteximg.com.br/arquivos/icon-entel-pin.png');
            background-repeat: no-repeat;
            background-position: 5px center;
            background-size: 28px;
            padding: 10px 130px 10px 48px;
            position: relative;
            border-bottom: 1px solid #E5E5E5;
            cursor: pointer;

            &.active {
                .delivery-choose {
                    background-color: #FF560A;
                    color: #ffffff;
                }
            }

            .delivery-bold {
                color: #0154A0;
                font-size: 14px;
                font-weight: 700;
            }

            .delivery-text {
                color: #0154A0;
                font-size: 14px;
            }
            
            .delivery-choose {
                background: transparent;
                border: 1px solid #FF560A;
                box-sizing: border-box;
                border-radius: 50px;
                position: absolute;
                right: 0;
                top: 0;
                width: 125px;
                font-weight: 700;
                display: inline-block;
                height: 35px;
                bottom: 0;
                margin: auto;
                line-height: 33px;
                color: #FF560A;
                text-align: center;
            }
        }
    }
}