.checkout-container .orderform-template .step.accordion-group .accordion-heading span.accordion-toggle span[data-i18n='clientProfileData.identification']:before {
    width: 20px;
    content: "1";
    height: 20px;
    margin: 0 auto;
    font-size: 10px;
    color: #FF6702;
    line-height: 20px;
    margin-right: 7px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #FF6702;
    background-color: transparent;
}

.checkout-container .orderform-template .step.accordion-group .accordion-heading span.accordion-toggle.accordion-shipping-title span[data-i18n='shipping.title']::before {
    width: 20px;
    content: "2";
    height: 20px;
    margin: 0 auto;
    font-size: 10px;
    color: #FF6702;
    line-height: 20px;
    margin-right: 7px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #FF6702;
    background-color: transparent;
}

.checkout-container .orderform-template .step.accordion-group .accordion-heading span.accordion-toggle.accordion-shipping-title span[data-i18n='shipping.title']::after {
    line-height: 1;
    font-size: 15px;
    vertical-align: middle;
    content: "Dirección de entrega";
    display: inline-block !important;
}



.checkout-container .orderform-template .step.accordion-group.active .accordion-heading span.accordion-toggle.accordion-shipping-title span[data-i18n='shipping.title']::before,
.checkout-container .orderform-template .step.accordion-group.active .accordion-heading span.accordion-toggle span[data-i18n='clientProfileData.identification']:before {
    background-color: #FF6702;
    color: white;
}


.box-delivery .ship-street-text {
    display: none;
}

p.search-another-address a.search-another-address-btn {
    height: -10px;
    width: 153px;
    height: 30px;
    font-size: 12px;
    color: #FF6702;
    line-height: 30px;
    line-height: 20px;
    text-align: center;
    border-radius: 90px;
    display: inline-block;
    border: 1px solid #FF6702;
}


p.disclaimer-dir {
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
    color: #6C6C6C;
}


p.disclaimer-dir::before {
    content: "icon";
    font-weight: bold;
}

p.disclaimer-dir::after {
    content: "Puede ingresar calle, número y distrito (No incluir piso o departamento)";
    font-weight: 100;
}